<li>
  <% poster = post.user if logged_in? %>
  <div class="post-block">
    <strong>
      <% if logged_in? %>
        <%= link_to post.user.name, post.user %>
      <% else %>
       Anonymous User
      <% end %>
    </strong>
    <div><%= simple_format post.content %></div>
    <span class="timestamp"><%= time_ago_in_words post.created_at %> ago.</span>
    <% if logged_in? && current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "Delete this post?" },
                                  style: "float: right" %>
    <% end %>
  </div>
</li>
